[Unit]
Description=Rclone bisync for Obsidian
Documentation=man:rclone(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rclone bisync iCloudDrive:Obsidian %h/Documents/Obsidian --create-empty-src-dirs --log-file=%h/.local/state/rclone-bisync-obsidian.log --log-level INFO

