{{- if eq .chezmoi.os 'windows' }}
#Requires -Version 7.0

param (
  [switch]$Build
)

function Test-IsElevated {
  return (New-Object Security.Principal.WindowsPrincipal(
    [Security.Principal.WindowsIdentity]::GetCurrent()))
    .IsInRole([Security.Principal.WindowsBuiltInRole]::Administrator)
}

function Install-Docker {
  param (
    [string]$Version = '29.0.0-dev',
    [string]$Commit = '7b93d61673'
  )

  Write-Host 'Installing Docker...';
  $installDirectory = [System.IO.Path]::Combine($Env:LOCALAPPDATA, 'bugay-docker-installer')
  $destinationDirectory = [System.IO.Path]::Combine($Env:USERPROFILE, 'scoop', 'shims')
  
  if (!(Test-Path -Path $destinationDirectory)) {
    New-Item -ItemType Directory -Path $installDirectory
  }
  
  Set-Location $installDirectory
  
  $git = Get-Command git -ErrorAction SilentlyContinue
  $go = Get-Command go -ErrorAction SilentlyContinue

  if ($null -eq $git || $null -eq $go) {
    Write-Error 'Git and Go are both required to install Docker.'
    Write-Error "Git: ${git}"
    Write-Error "Go:  ${go}"
    return
  }

  $dockerRepoPath = [System.IO.Path]::Combine($installDirectory, 'cli');
  
  if (!(Test-Path -Path $dockerRepoPath)) {
    git clone git@github.com:docker/cli.git;
  }

  # Ensure we've got the latest updates
  Set-Location $dockerRepoPath;
  git fetch && git pull;

  # Create a temporary go.mod from vendor.mod
  Copy-Item vendor.mod go.mod

  # Build with modules on, using the vendor directory
  $version = '29.0.0-dev'
  $commit = '7b93d61673'
  $env:GO111MODULE = 'on'
  $env:GOTOOLCHAIN = 'local'
  go build -mod=vendor -o build/docker.exe -ldflags '-X github.com/docker/cli/cli/version.Version=$version -X github.com/docker/cli/cli/version.GitCommit=$commit' github.com/docker/cli/cmd/docker

  # Clean up
  Remove-Item go.mod

  Move-Item -Path './build/docker.exe' -Destination $destinationDirectory -Force;

  Write-Host 'Docker installed.';
}

function Register-BugayInitializeDockerTask {
  [CmdletBinding()]
  param (
    [string]$Description,
    [string]$TaskName,
    [string]$BinPath
  )

  $action = New-ScheduledTaskAction -Execute $BinPath
  $trigger = New-ScheduledTaskTrigger -AtLogOn -User $env:USERNAME
  $principal = New-ScheduledTaskPrincipal -UserId $env:USERNAME -LogonType Interactive -RunLevel Limited
  $settings = New-ScheduledTaskSettingsSet `
    -AllowStartIfOnBatteries `
    -DontStopIfGoingOnBatteries `
    -ExecutionTimeLimit ([TimeSpan]::Zero) `
    -RestartCount 3 `
    -RestartInterval (New-TimeSpan -Minutes 1) `
    -Hidden

  Write-Host "Registering and starting the scheduled task..."
  Register-ScheduledTask -TaskName $TaskName -TaskPath '\Bugay\' -Action $action -Trigger $trigger `
    -Principal $principal -Settings $settings -Description $Description

  Start-ScheduledTask -TaskName $TaskName -TaskPath '\Bugay\'
}

function Install-BugayInitializeDocker {
  [CmdletBinding()]
  param (
    [switch]$Build
  )
  if ($Build) {
    Write-Host "Building the binary..."
    dotnet clean
    dotnet publish -c release -r win-arm64
  }
  
  $installDirectory = [System.IO.Path]::Combine($Env:LOCALAPPDATA, 'bugay-docker-installer', 'bin')
  if ($false -eq (Test-Path $installDirectory -ErrorAction SilentlyContinue))
  {
    New-Item -Type Directory -Path $installDirectory
  }
  
  Write-Host "Installing the binary..."
  $installPath = [System.IO.Path]::Combine($installDirectory, 'Bugay.Initialize.Docker.exe')
  # TODO: This needs to be added to git and pulled from git. 
  $exePath = '.\src\bin\release\net10.0\win-arm64\publish\Bugay.Initialize.Docker.exe'
  
  if ([System.IO.File]::Exists($installPath)) {
    Remove-Item $installPath
  }

  Move-Item -Path $exePath -Destination $installPath
  
  $desc = 'Starts WSL in the background so the Host can communicate with the Docker daemon.'
  $taskName = "Bugay.Initialize.Docker"
  $existingTask = Get-ScheduledTask -TaskName $taskName -TaskPath '\Bugay\' -ErrorAction SilentlyContinue

  if ($null -ne $existingTask) {
    Write-Host 'Removing existing scheduled task...'
    Stop-ScheduledTask -TaskName $taskName -TaskPath '\Bugay\' -ErrorAction SilentlyContinue
    Unregister-ScheduledTask -TaskName $taskName -TaskPath '\Bugay\' -Confirm:$false
  }

  Register-BugayInitializeDockerTask -Description $desc -TaskName $taskName -BinPath $installPath
}

if ((Test-IsElevated) -eq $false) {
  Write-Warning "This script requires local admin privileges. Elevating..."
  gsudo "& '$($MyInvocation.MyCommand.Source)'" $args
  if ($LastExitCode -eq 999 ) {
    Write-error 'Failed to elevate.'
  }
  return
}

Install-Docker

Install-BugayInitializeDocker -Build:$Build

Write-Host "Creating the wsl ssh Docker context..."
docker context create --docker host=ssh://wsl --description "WSL Engine (SSH)" {{ .packages.windows.docker_context }}

Write-Host "Create the ssh key, add it to ~/.ssh/authorized users in the WSL instance."
Write-Host "Create a .ssh/config"
Write-Host "Make sure that the WSL instance has installed openssh-server, docker, and the systemd services are setup"

$wslIp = ((wsl hostname -I) -split " ")[0]

$sshConfigPath = [System.IO.Path]::Combine($Env:USERPROFILE, ".ssh", "config")

if (![System.IO.File]::Exists($sshConfigPath)) {
  @"
Host wsl
    HostName $wslIp
    User zacharybugay
    IdentityFile ~/.ssh/local_wsl
"@ | Out-File -FilePath $sshConfigPath -Encoding utf8 
}

Register-BugayInitializeDockerTask

{{-end }}
