{{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
#!/usr/bin/env bash

sudo apt-get update -y && sudo apt-get upgrade -y && sudo apt-get install \
	rustup
	
# Rust
rustup toolchain install nightly
cargo install skim
cargo install tealdeer
cargo install tree-sitter-cli
cargo install ripgrep
cargo install starship

sh -c "$(curl -fsLS get.chezmoi.io)" -- -b $HOME/.local/bin

curl -LO https://github.com/so-fancy/diff-so-fancy/releases/download/v1.4.10/diff-so-fancy
chmod +x diff-so-fancy
mv diff-so-fancy ~/.local/bin

curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.4/install.sh | bash

zshPath=$(which zsh)
if [[ $SHELL != $zshPath ]]; then
	chsh --shell $(which zsh)
fi

echo "Done. Log out/in (or restart WSL) for docker group membership to apply."

{{- end }}
