##Requires -Version 7
# Only populated if windows.
{{- if eq .chezmoi.os "windows" -}}

echo "Running scoop installer..."

# Install Scoop if not already installed.
$scoop= Get-Command "scoop"
if ($null -eq $scoop) {
    Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser
    Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression

    # Add extras, nerd-fonts, and tilt-dev sources.
    scoop bucket add extras
    scoop bucket add nerd-fonts
    scoop bucket add tilt-dev https://github.com/tilt-dev/scoop-bucket
}

scoop install {{- range.packages.windows.scoops }} {{ . }} {{- end }}
{{ end }}
