{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

brew bundle --file=/dev/stdin <<EOF
{{- range .distributions.shared }}
brew {{ . | quote }}
{{ -end- }}
{{- range .distributions.darwin.brews }}
brew {{ . | quote }}
{{- end }}
{{- range .distributions.darwin.headbrews }}
brew {{ . | quote }}, args: ["HEAD"]
{{- end -}}
{{- range .distributions.darwin.casks }}
cask {{ . | quote -}}
{{- end }}
EOF

# Install rustup toolchain for nightly builds.
rustup toolchain install nightly-aarch64-apple-darwin

{{- end }}
