{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
{{- $packages := concat .distributions.shared .distributions.darwin.brews -}}

brew tap hashicorp/tap

brew bundle --file=/dev/stdin <<EOF
{{- range $packages }}
brew {{ . | quote }}
{{- end }}
{{- range .distributions.darwin.headbrews }}
brew {{ . | quote }}, args: ["HEAD"]
{{- end -}}
{{- range .distributions.darwin.casks }}
cask {{ . | quote -}}
{{- end }}
EOF

# Install rustup toolchain for nightly builds.
rustup toolchain install nightly-aarch64-apple-darwin

{{- end }}
