{{- if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
#!/usr/bin/env bash

sudo apt-get update -y && \
  sudo apt-get upgrade -y && \
  sudo apt-get install {{- range .distributions.ubuntu.apt }} {{ . }} {{- end }}

zshPath=$(which zsh)
if [[ $SHELL != $zshPath ]]; then
  chsh --shell $(which zsh)
fi

if ! which brew > /dev/null 2>&1; then
  curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh | bash
fi

{{- $brewPackages := concat .distributions.shared .distributions.ubuntu.brews }}

brew tap hashicorp/tap

brew bundle --file=/dev/stdin <<EOF
{{- range $brewPackages }}
brew {{ . | quote }}
{{- end }}
{{- range .distributions.ubuntu.headbrews }}
brew {{ . | quote }}, args: ["HEAD"]
{{- end }}
EOF


# For anything that cannot be installed via apt, or brew
{{- range $binary, $command := .distributions.ubuntu.curls }}
if ! which {{ $binary }} > /dev/null 2>&1; then
  {{ $command }}
else
  echo "'{{ $binary }}' already installed! Skipping ..."
fi

{{- end }}

{{-   end }}
{{- end }}
