{{- if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
#!/usr/bin/env bash

sudo apt-get update -y && \
  sudo apt-get upgrade -y && \
  sudo apt-get install rustup

# Rust
rustup toolchain install nightly
cargo install skim
cargo install tealdeer
cargo install tree-sitter-cli
cargo install ripgrep
cargo install starship

sh -c "$(curl -fsLS get.chezmoi.io)" -- -b $HOME/.local/bin

zshPath=$(which zsh)
if [[ $SHELL != $zshPath ]]; then
  chsh --shell $(which zsh)
fi

if ! which brew > /dev/null 2>&1; then
  curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh | bash
fi

echo "Done. Log out/in (or restart WSL) for docker group membership to apply."

{{-   end }}
{{- end }}
